.NavigationUser_Base {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: start;

  margin: 32px;
  width: 260px;
  border: 1px solid var(--Gray100);
  border-radius: 8px;
}
.Nav_title {
  width: 100%;
}
.Navigation_title {
  font-size: 20px;
  padding: 16px 20px;
  margin: 0px;
}
.NavigationUser_items {
  display: flex;

  justify-content: center;
  align-items: start;
  width: 100%;

  flex-direction: column;
}

.UserNav_link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;

  margin: 0px;
  padding: 10px 20px;

  font-size: small;
}
.UserNav_link img {
  width: 20px;
}
.link_Design {
  color: var(--Gray400);
  text-decoration: none;
  border-left: solid 2px transparent;
  box-sizing: border-box;
  width: 100%;
}
.link_Design:hover {
  border-left: solid 2px var(--Primary);
  background-color: var(--Green50);
  color: var(--Gray900);
}
