
:root {
  /* Color  */
  --SoftPrimary: #84d187;
  --Primary: #00b207;
  --HardPrimary: #2c742f;
  --Warning: #ff8a00;
  --Danger: #ea4b48;
  --White: #ffffff;

  /* Gray */
  --Gray50: #f2f2f2;
  --Gray100: #e6e6e6;
  --Gray200: #cccccc;
  --Gray300: #b3b3b3;
  --Gray400: #999999;
  --Gray700: #4d4d4d;
  --Gray800: #333333;
  --Gray900: #1a1a1a;

  /* green */
  --Green50: #edf2ee;
  --Green100: #2c742f33;
}

body {
  font-family: "Poppins";
  margin: 0px;
  color: var(--Gray900);
}

.Nav_link {
  display: flex;
  align-items: center; /* Vertically align items */
  gap: 5px;
  color: var(--Gray400);
  text-decoration: none;
}
.Nav_link svg path {
  stroke: var(--Gray400);
  transition: stroke 0.3s;
}
.Nav_link:hover {
  color: var(--White);
}
.Nav_link:hover svg path {
  stroke: var(--White);
}

/* Imagee size */
.Small_Picture {
  width: 15px;
  height: 20px;
}
.Picture {
  width: 35px;
  height: auto;
}

/* Images Color */
.Black {
  filter: grayscale(100%) brightness(0%);
}
.White {
  filter: grayscale(0%) brightness(100%) invert(100%);
}

/* Font Color */
.Color_Gray {
  color: var(--Gray300);
}
.Color_Black {
  color: var(--Gray900);
}

/* Divider */
.Divider_Horizontal {
  border-top: 1px solid var(--Gray200);
}
.Divider_Vertical_Small {
  border-right: 1px solid var(--Gray200);
  margin-block: 15px;
}
.Divider_Vertical {
  border-right: 1px solid var(--Gray200);
  margin-block: 5px;
}

/* Main */
.Logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.title {
  margin: 0px;
}
.Input_Design {
  border: 1px solid var(--Gray200);
  border-radius: 3px;

  padding: 14px;
  margin-bottom: 12px;
}
.Input_Design:focus {
  outline: 2px solid var(--Primary);
}
.Check_Forget {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--Gray400);
}
input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid var(--Gray400);
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
}
input[type="checkbox"]:checked {
  background-color: green;
  border-color: green;
}
input[type="checkbox"]:checked::before {
  content: "\2713";
  display: block;
  width: 15px;
  text-align: center;
  line-height: 18px;
  color: white;
  font-size: 16px;
}

/* Links */
.Btn {
  color: var(--Primary);
  font-weight: 500;
  text-decoration: none;
}
.Arrow {
  width: 15px; 
  height: auto; 
  margin-left: 10px; 
}

/* BUTTON */
/* normal */
.Btn-Link {
  display: flex; 
  color: var(--Primary);
  font-weight: 500;
  align-items: center;
  padding-block: 25px;

  border: none;
  cursor: pointer;
}
.Btn-Fill {
  border: 1px transparent solid;
  border-radius: 43px;
  background-color: var(--Primary);
  color: var(--White);

  cursor: pointer;
  transition: background-color 0.5s;
}
.Btn-Fill:hover {
  background-color: var(--HardPrimary);
}
.Btn-Border {
  border: 2px solid var(--Primary);
  border-radius: 43px;
  background-color: var(--White);
  color: var(--Primary);

  transition: border 0.5s, color 0.5s;
  cursor: pointer;
}
.Btn-Border:hover {
  border: 2px solid var(--HardPrimary);
  color: var(--HardPrimary);
}
.Btn-Ghost {
  border: 2px solid transparent;
  border-radius: 43px;
  background-color: var(--Green50);
  color: var(--Primary);

  cursor: pointer;
  transition: background-color 0.5s;
}
.Btn-Ghost:hover {
  background-color: var(--Green100);
  color: var(--HardPrimary);
}
.Btn-Small {
  padding: 10px 24px;
  font-weight: 700;
}
.Btn-Medium {
  padding: 14px 32px;
  font-weight: 700;
}
.Btn-Large {
  padding: 16px 40px;
  font-weight: 700;
}


/* Table Design */
.Table {
  display: flex;
  flex-direction: column;
}
.Table_Title,
.Table_Items {
  display: flex;

  width: 100%;
}
.Table_Title > *,
.Table_Items > * {
  width: 35%;
  min-width: 150px;
  padding-inline: 32px;
}
.Table_Title {
  color: var(--Gray400);
  background-color: var(--Gray100);
}
.Table_Items {
  color: var(--Gray900);
  font-size: 15px;
}
